
.form-container{
   background: #fff;
    padding : 30px;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
/*    border-right:200px;*/
    width: 500px;
    align-content: center;
    z-index: 1;
/*    position:absolute;*/

}
.db{
    padding-bottom: 500px;
}
.form-container1{
    background: #f70f60;
    padding: 
        10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    height: 50px;
    width: 400px;
    align-content: flex-end;
    text-align-last: justify;
    text-align: center;
     box-sizing: border-box;
    z-index: 1;

        
}


.stat{
    border: 10px;
    text-align: center;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
{
    box-sizing: border-box;
}
body{
    font-family:'Montserrat',sans-serif;
    background-image: url("../images/group.jpg");
/*    position: inherit;*/
    height: 650px;

     background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(3px);
    
     opacity: 0.8;

      
}
.nw{
/*    text-align: right;*/
    padding-left: 300px;
    padding-top: 100px;
}
